* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: radial-gradient(circle at 59.5% 50%, #414380 0, #414380 50%, #414380 100%);
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.freecodecamp-logo {
  height: 50px;

}

.contenedor-principal {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}